In [83]:
import gspread
import seaborn as sns
import matplotlib.pyplot as plt
import datetime as dt
from datetime import datetime
import pandas as pd
import pandas as pd 
from collections import Counter
import calmap

# https://builtin.com/data-science/github-contribution-plot

In [40]:
# creating gspread.client.Client object to access the sheet 
gc = gspread.service_account(filename='sheet_auth.json')
type(gc)

gspread.client.Client

In [86]:
# opening google sheets 
wks = gc.open('reading list').sheet1
wks

In [90]:
raw_col = wks.col_values(1)
df = pd.DataFrame(raw_col[1:], columns=[raw_col[0]])

counts = df['read_date'].value_counts()
df = df.drop_duplicates()
df['per_day'] = df['read_date'].map(counts)
df

  read_date  per_day
0    2/5/24        1
1    2/6/24        1
2   2/16/24        1
3   2/12/24        2
5   2/17/24        2
7   2/22/24        4
8   2/23/24        1

In [91]:
def split_date(date_string):
    ''' splits the month, day and year given a date as a string 'mm/dd/yy' '''
    date_object = datetime.strptime(date_string, "%m/%d/%y")
    day_of_week = date_object.strftime("%A")
    month = date_object.strftime('%B')
    return month, date_object.day, day_of_week, date_object.year


df[['month', 'date', 'day', 'year']] = df['read_date'].apply(lambda x: pd.Series(split_date(x)))

df

  read_date  per_day     month  date       day  year
0    2/5/24        1  February     5    Monday  2024
1    2/6/24        1  February     6   Tuesday  2024
2   2/16/24        1  February    16    Friday  2024
3   2/12/24        2  February    12    Monday  2024
5   2/17/24        2  February    17  Saturday  2024
7   2/22/24        4  February    22  Thursday  2024
8   2/23/24        1  February    23    Friday  2024

In [92]:
df_new = df[['month', 'date', 'day', 'per_day', 'year']]
df_new

      month  date       day  per_day  year
0  February     5    Monday        1  2024
1  February     6   Tuesday        1  2024
2  February    16    Friday        1  2024
3  February    12    Monday        2  2024
5  February    17  Saturday        2  2024
7  February    22  Thursday        4  2024
8  February    23    Friday        1  2024

In [93]:
plt.figure(figsize=(20,10))
calmap.yearplot(df['per_day'], cmap='YlGn', fillcolor='lightgrey',daylabels='MTWTFSS',dayticks=[0, 2, 4, 6],
               linewidth=2)

AttributeError: 'numpy.int64' object has no attribute 'year'